
    <nav class="navbar">
        <div class="navbar-container">
            <a href="/" class="nav-item">首页</a>
            <a href="/page/about/" class="nav-item">寺院概况</a>
            <a href="/page/sketch/" class="nav-item">律苑道影</a>
            <a href="/page/annualplan/" class="nav-item">全年法事</a>
            <a href="/page/enrollment/" class="nav-item">招生简章</a>
            <a href="/page/signup/" class="nav-item">在线报名</a>
            <a href="/page/search/" class="nav-item">文章搜索</a>           
        </div>
    </nav>